*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: titulo;
    src: url(/fonts/Warpen.ttf);
}
@font-face {
    font-family: normalLetra;
    src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: recorrida;
    src: url(/fonts/Roboto-ThinItalic.ttf);
}
#container{
    width: 100vw;
    height: 50vw;
    background-color: #13142D;
}
#barra_AB{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44vw;
    width: 100vw;
    height: 6vw;
    overflow: hidden;
   
}
#barraazul{
    width: 60vw;
    border-top: solid transparent 0px ;
    border-left: solid transparent 50px;
    border-right: solid transparent 50px;
    border-bottom: solid #010220 80px;  
    border-radius: 1vw 1vw 0vw 0vw ;
}
#linea{
    position: absolute;
    top: 5vw;
    width: 100vw;
    border: 0.5vw solid #010220;
    border-radius: 1vw 1vw 0vw 0vw ;
}
#pasar-Pagina{
    width: 22vw;
    height: 3vw;
    position: absolute;
    top: 1vw;
    left: 80vw;
    display: flex;
    padding: 4px 20px ;
   
}
ul{
    text-decoration: none;
    margin: 0 1vw;
}
ul li{
    display: inline-block;
    background-color: #010220;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    margin: 0 0.5vw;
    cursor: pointer;
    border-radius: 50vw;
    color: white;
   
}
ul li.active{
    color: #fff;
    background-image: linear-gradient(#ffffff,#030b35);
    color: black;
    background-repeat: no-repeat;
}
.btn1 , .btn2{
    display: inline-flex;
    align-items: center;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}
#barraazul{
    display: inline-block;

}
#image{
    position: absolute;
    left: 27vw;
    top: 1vw;
    width: 3vw;
    height: 3vw;
}
#image1{
    position: absolute;
    left:38vw;
    top: 1.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image2{
    position: absolute;
    left: 48vw;
    top: 1.5vw;
    width: 3vw;
    height: 3vw;
}
#image3{
    position: absolute;
    left:58vw;
    top: 1.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image4{
    position: absolute;
    left:68vw;
    top: 1.5vw;
    width: 3vw;
    height: 3vw;
  
}