*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 50vw;
    background-color: #13142D;
}
@font-face {
    font-family: titulo;
    src: url(/fonts/Warpen.ttf);
}
@font-face {
    font-family: normalLetra;
    src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: recorrida;
    src: url(/fonts/Roboto-ThinItalic.ttf);
}
#container{
    width: 100vw;
    height: 50vw;
    background-color: #13142D;
}
#barra_AB{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44vw;
    width: 100vw;
    height: 6vw;

   
}
#barraazul{
    width: 60vw;
    border-top: solid transparent 0px ;
    border-left: solid transparent 50px;
    border-right: solid transparent 50px;
    border-bottom: solid #010220 80px;  
    border-radius: 1vw 1vw 0vw 0vw ;
    margin-top: -3vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#linea{
    position: absolute;
    top: 5vw;
    width: 100vw;
    border: 0.5vw solid #010220;
    border-radius: 1vw 1vw 0vw 0vw ;
}
#pasar-Pagina{
    width: 22vw;
    height: 3vw;
    position: absolute;
    top: 1vw;
    left: 79vw;
    display: flex;
    padding: 4px 20px ;
}
ul{
    text-decoration: none;
    margin: 0 1vw;
}
ul li{
    display: inline-block;
    background-color: #010220;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    margin: 0 0.1vw;
    cursor: pointer;
    border-radius: 50vw;
    color: white;
   
}
ul li.active{
    color: #fff;
    background-image: linear-gradient(#ffffff,#030b35);
    color: black;
    background-repeat: no-repeat;
}
.btn1 , .btn2{
    display: inline-flex;
    align-items: center;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}

#image{
    position: relative;
    top: 4.5vw;
    width: 2.5vw;
    height: 2.5vw;
}
#image1{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image2{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
}
#image3{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image4{
    position: relative;
    top: 4.2vw;
    width: 3vw;
    height: 3vw;
  
}
#cap{
    position: absolute;
    top: 1vw;
    left: 2vw;
    font-family: titulo;
    width: 6vw;
    height: 2vw;
    color: #fff;
    font-size: 1vw;
}
#tittle{
    font-family: titulo;
    width: 100vw;
    height: 6vw;
    color: #fff;
    font-size: 2vw;
    display: flex;
    text-align: center;
    justify-content: center
}
#titu{
    position: absolute;
    top: 2vw;
}

#lastupdate{
    position: absolute;
    top: 8vw;
    left: 10vw;
    font-family: titulo;
    color: #d82e30;
    font-size: 2vw;
}
#textico{
    padding: 3vw;
    color: #fff;
    font-size: 2.5vw;
    width: 30vw;
    height: 25vw;
}
#text{
    border: 1px solid  white;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
    font-family: normalLetra;
    width: 30vw;
    height: 25vw;
    margin-top: 4vw;
    margin-left: 4vw;
    border-radius: 3vw;
    display: flex;
    text-align: center;
    justify-content: center;
   
}
#nombres{
    position: absolute;
    top: 11vw;
    width: 42vw;
    height: 2vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 5vw;
    font-family: titulo;
    color: #d82e30;
    font-size: 0.7vw;
}
#estrellitas{
    border: 1px solid  white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45vw;
    height: 10vw;
    margin-top: -25vw;
    margin-left: 38vw;
    border-radius: 5vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
}
#nombres2{
    position: absolute;
    top: 22.5vw;
    width: 32vw;
    height: 2vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 5vw;
    font-family: titulo;
    color: #d82e30;
    font-size: 0.9vw;
}
#estrellitas2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
    height: 10vw;
    margin-top: 2vw;
    margin-left: 46vw;
    border-radius: 5vw;
    border: 1px solid  white;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);

   
}
#naveD{
    width: 25vw;
    height: 39vw;
}
#capsulaimg{
    width: 25vw;
    height: 35vw;
    position: absolute;
    top: 4vw;
    left: 77vw;
}
#idd{
    margin-top: 1vw;
    font-family: normalLetra;
    color: #000000;
    font-size: 1.5vw;
   
}
#id{
    position: absolute;
    top: 34vw;
    left: 76vw;
    font-family: titulo;
    color: #d82e30;
    font-size: 2vw;
 
}
#idecita{
    background-color: rgba(221, 221, 221, 0.863);
    display: flex;
    text-align: center;
    justify-content: center;
    width:25vw;
    height: 4vw;
    position: absolute;
    top:36vw ;
    left: 65vw;
    border-radius: 3vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
}
#lauchess{
    padding: 1vw;
    background-color: rgba(221, 221, 221, 0.863);
    display: flex;
    text-align: center;
    justify-content: center;
    width:25vw;
    height: 4vw;
    position: absolute;
    top:36vw ;
    left: 34vw;
    border-radius: 3vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
}
#lau{
    position: absolute;
    top: 34vw;
    left: 40vw;
    font-family: titulo;
    color: #d82e30;
    font-size: 2vw;
}
#launchess{
    font-family: normalLetra;
    color: #000000;
    font-size: 1.5vw;
}

.star{
    font-family: titulo;
    padding-top: 2vw;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #010220;
    border: 1px solid rgb(7, 11, 46);
    width: 6vw;
    height: 6vw;
    border-radius: 5vw;
    font-size: 1vw;
}
.star1{
    font-family:titulo;
    padding-top: 3vw;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #010220;
    border: 1px solid rgb(7, 11, 46);
    width: 7vw;
    height: 7vw;
    border-radius: 5vw;
    font-size: 0.5vw;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
  
    body{
        width: 100vw;
        height: 50vw;
        background-color: #13142D;
    }
    #container{
        width: 100vw;
        height: 50vw;
        background-color: #13142D;
    }
    #barra_AB{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 44vw;
        width: 100vw;
        height: 6vw;
    }
    #barraazul{
        width: 100vw;
        border-top: solid transparent 0px ;
        border-left: solid transparent 0px;
        border-right: solid transparent 0px;
        border-bottom: solid #010220 0px;  
        border-radius: 1vw 1vw 0vw 0vw ;
        margin-top: 319vw;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    #linea{
        display: none;
        position: absolute;
        top: 5vw;
        width: 100vw;
        border: 0.5vw solid #010220;
        border-radius: 1vw 1vw 0vw 0vw ;
    }
    #pasar-Pagina{
        width: 22vw;
        height: 10vw;
        position: absolute;
        top: 136vw;
        left: 18vw;
        display: flex;
        padding: 4px 20px ;
    }
    ul{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        margin: 0 1vw;
    }
    ul li{
        display: inline-block;
        border: 1px solid white;
        background-color: #010220;
        width: 7vw;
        height: 7vw;
        font-size: 3.5vw;
        text-align: center;
        line-height: 7vw;
        margin: 0 1.2vw;
        cursor: pointer;
        border-radius: 50vw;
        color: white;
       
    }
    ul li.active{
        color: #fff;
        background-image: linear-gradient(#ffffff,#030b35);
        color: black;
        background-repeat: no-repeat;
    }
    .btn1 , .btn2{
        display: inline-flex;
        align-items: center;
        background: transparent;
        color: white;
        cursor: pointer;
        outline: none;
    }
    
    #image{
        position: relative;
        top: 0vw;
        width: 9vw;
        height: 9vw;
    }
    #image1{
        position: relative;
        top: 0vw;
        width: 9vw;
        height: 9vw;
      
    }
    #image2{
        position: relative;
        top: 0vw;
        width: 9vw;
        height: 9vw;
    }
    #image3{
        position: relative;
        top: 0vw;
        width: 9vw;
        height: 9vw;
      
    }
    #image4{
        position: relative;
        top: 0vw;
        width: 9vw;
        height: 9vw;
      
    }
    #cap{
        position: absolute;
        top: 1vw;
        left: 2vw;
        font-family: titulo;
        width: 6vw;
        height: 2vw;
        color: #fff;
        font-size: 2vw;
    }
    #tittle{
        font-family: titulo;
        width: 100vw;
        height: 6vw;
        color: #fff;
        font-size: 5vw;
        display: flex;
        text-align: center;
        justify-content: center
    }
    #titu{
        position: absolute;
        top: 8vw;
    }
    
    #lastupdate{
        position: absolute;
        top: 25vw;
        left: 31vw;
        font-family: titulo;
        color: #d82e30;
        font-size: 3.5vw;
    }
    #textico{
        padding: 3vw;
        color: #fff;
        font-size: 4vw;
        width: 60vw;
        height: 25vw;
    }
    #text{
        border: 1px solid  white;
        box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
        font-family: normalLetra;
        width: 75vw;
        height: 30vw;
        margin-top: 26vw;
        margin-left: 12vw;
        border-radius: 3vw;
        display: flex;
        text-align: center;
        justify-content: center;
       
    }
    #nombres{
        position: absolute;
        top: 128vw;
        width: 81vw;
        height: 2vw;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        border-radius: 5vw;
        font-family: titulo;
        color: #d82e30;
        font-size: 2vw;
    }
    #estrellitas{
        border: 1px solid  white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 82vw;
        height: 20vw;
        margin-top: 64vw;
        margin-left: 8vw;
        border-radius: 5vw;
        box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
    }
    #nombres2{
        position: absolute;
        top: 152.5vw;
        width: 60vw;
        height: 2vw;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        border-radius: 5vw;
        font-family: titulo;
        color: #d82e30;
        font-size: 2vw;
    }
    #estrellitas2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 60vw;
        height: 22vw;
        margin-top: 6vw;
        margin-left: 18.5vw;
        border-radius: 5vw;
        border: 1px solid  white;
        box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
    
       
    }
    #naveD{
        width: 45vw;
        height: 59vw;
    }
    #capsulaimg{
        width: 25vw;
        height: 35vw;
        position: absolute;
        top: 63vw;
        left: 7vw;
    }
    #idd{
        margin-top: 1.5vw;
        font-family: normalLetra;
        color: #000000;
        font-size: 3vw;
       
    }
    #id{
        position: absolute;
        top: 73vw;
        left: 68vw;
        font-family: titulo;
        color: #d82e30;
        font-size: 4vw;
     
    }
    #idecita{
        background-color: rgba(221, 221, 221, 0.863);
        display: flex;
        text-align: center;
        justify-content: center;
        width:40vw;
        height: 8vw;
        position: absolute;
        top:79vw ;
        left: 50vw;
        border-radius: 4vw;
        box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
    }
    #lauchess{
        padding: 1.5vw;
        background-color: rgba(221, 221, 221, 0.863);
        display: flex;
        text-align: center;
        justify-content: center;
        width:40vw;
        height: 8vw;
        position: absolute;
        top:98vw ;
        left: 50vw;
        border-radius: 3vw;
        box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
    }
    #lau{
        position: absolute;
        top: 92vw;
        left: 58vw;
        font-family: titulo;
        color: #d82e30;
        font-size: 4vw;
    }
    #launchess{
        font-family: normalLetra;
        color: #000000;
        font-size: 3vw;
    }
    
    .star{
        font-family: titulo;
        padding-top: 3.5vw;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #010220;
        border: 1px solid rgb(7, 11, 46);
        width: 12vw;
        height: 12vw;
        border-radius: 8vw;
        font-size: 2vw;
    }
    .star1{
        font-family:titulo;
        padding-top: 6vw;
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #010220;
        border: 1px solid rgb(7, 11, 46);
        width: 16vw;
        height: 16vw;
        border-radius: 8vw;
        font-size: 1.3vw;
    }
    
}