*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: titulo;
    src: url(/fonts/Warpen.ttf);
}

@font-face {
    font-family: recorrida;
    src: url(/fonts/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: normalLetra;
    src: url(/fonts/Roboto-Light.ttf);
}

body{
    width: 100vw;
    height: 40vw;
    background-repeat: no-repeat;
    background: linear-gradient(black , #13142D 20%,black)
}
#contenedor{
    width: 100vw;
    height: 40vw;
    display: grid;
}
.tituloHistory{
    width: 100vw;
    padding-bottom: 3rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6rem;
    font-family: titulo;
}
#datos{
    display: grid;
    height: 30rem;
    gap: 40px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,auto);
}

#name{
    grid-column: 1/3;
    margin-left: 2rem;
    grid-row: 1/4;
    border: 1px solid white;
    font-family: titulo;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-size: 2.5vw;
}
#details{
    grid-column: 3/6;
    margin-right: 3rem;
    grid-row: 1/3;
    border-radius: 10px;
    border: 1px solid white;
    color: #d82e30;
    padding: 2rem;
    font-family: titulo;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
    font-size: 1.5vw;
}
#txtDetails,#txtEventUtc,#txtEvent{
    font-family: normalLetra;
    color: white;
}
#eventUtc{
    grid-column: 3/4;
    grid-row: 3/3;
    border-radius: 10px;
    border: 1px solid white;
    color: #d82e30;
    padding: 2rem;
    font-family: titulo;
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);

}
#event{
    grid-column: 4/4;
    grid-row: 3/3;
    border-radius: 10px;
    border: 1px solid white;
    color: #d82e30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    font-family: titulo;
    font-size: 1.8vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
}
#article{
    grid-column: 6/6;
    margin-right: 3rem;
    grid-row: 3/3;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #d82e30;
    padding: 1rem;
    font-family: titulo;
    font-size: 2rem;
}
.links{
    color:#d82e30
}
.links:hover{
    color: white;
}
#barra_AB{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6vw;
}
#barraazul{
    width: 60vw;
    border-top: solid transparent 0px ;
    border-left: solid transparent 50px;
    border-right: solid transparent 50px;
    border-bottom: solid #010220 80px;  
    border-radius: 1vw 1vw 0vw 0vw ;
    margin-left: 20vw;
    margin-top:9vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#linea{
    width: 100vw;
    border: 0.5vw solid #010220;
    border-radius: 1vw 1vw 0vw 0vw ;
}
#pasar-Pagina{
    width: 22vw;
    height: 3vw;
    margin-top: -4vw;
    margin-left: 80vw;
    display: flex;
    padding: 2px 20px ;
}
ul{
    text-decoration: none;
    margin: 0 1vw;
}
ul li{
    display: inline-block;
    background-color: #010220;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    margin: 0 0.1vw;
    cursor: pointer;
    border-radius: 50vw;
    color: white;
   
}
ul li.active{
    color: #fff;
    background-image: linear-gradient(#ffffff,#030b35);
    color: black;
    background-repeat: no-repeat;
}
.btn1,.btn2{
    display: inline-flex;
    align-items: center;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}
#spacex{
    padding: 1vw;
    font-family: titulo;
    color: #fff;
}
#image{
    position: relative;
    top: 4.5vw;
    width: 2.5vw;
    height: 2.5vw;
}
#image1{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image2{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
}
#image3{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image4{
    position: relative;
    top: 4.2vw;
    width: 3vw;
    height: 3vw;
  
}
span{
    color: #d82e30;
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
   
    #contenedor{
        height: 60rem;
        
    }
    .tituloHistory{
        padding-bottom: 0;
        margin-top: -9rem;
        margin-left: 4.8vw;
        height: 10rem;
        font-size: 3.8rem;
    }
    #datos{
        margin-top: -33vw;
        height: 30rem;
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5,auto);
    }
    #name{
        grid-column: 1/6;
        margin-left: 3rem;
        margin-right: 3rem;
        grid-row: 1/1;
        font-size: 1.5rem;
        padding: 2rem;
        color: #d82e30;
    }
    #spacex{
        font-size: 2vw;
        padding-left: 7vw;
        font-family: titulo;
        color: #fff;
    }
    #details{
        grid-column: 1/6;
        margin-left: 2.8rem;
        grid-row: 2/2;
        border-radius: 10px;
        padding: 2rem;
        font-family: titulo;
        font-size: 1.5rem;
    }
    #namedetails{
        margin-left: 4rem;
        margin-right: 4rem;
    }
    #txtDetails,#txtEventUtc,#txtEvent{
      
        font-size: 1rem;
    }
    #eventUtc{
        grid-column: 1/6;
        margin-left: 3rem;
        grid-row: 3/3;
        margin-right: 3rem;
        font-size: 1.5rem;
    }
    #event{
        grid-column: 1/6;
        margin-left: 3rem;
        margin-right: 3rem;
        grid-row: 4/4;
        font-size: 4vw;
    }
    #article{
        grid-column: 1/1;
        margin-left: 3rem;
        padding: 0;
        font-size: 1.3rem;
        background-color: #ffffff;
    }
    .link{
        color: #fff;
        text-decoration: none;
    }
    #article:hover{
        background-color: rgb(0, 0, 0);
    }
    #barra_AB{
        display: flex;
        top: 44vw;
        width: 100vw;
        height: 9vw;
    }
    #barraazul{
        width: 90vw;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;  
        border-radius: 1vw 1vw 0vw 0vw ;
        margin-left: 0vw;
        display: flex;
        justify-content: space-around;
        margin-top: 4.5vw;
    }
    #linea{
        display: none;
    }
    #pasar-Pagina{
        width: 90vw;
        height: 9vw;
        margin-top:-20vw;
        margin-left: 20vw;
        display: flex;
        padding: 5px 10px ;
    }
    ul{
        text-decoration: none;
        display: flex;
        flex-direction: row;
    }
    ul li{
        background-color: #010220;
        width: 9vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 9vw;
        font-size: 3vw;
        margin: 1vw;
        border: 1px solid white;
    }
    ul li.active{
        color: #fff;
        background-image: linear-gradient(#ffffff,#030b35);
        color: black;
        background-repeat: no-repeat;
    }
    .btn1,.btn2{
        width: 2vw;
        height: 9vw;
        display: inline-flex;
        align-items: center;
        background: transparent;
        color: white;
        cursor: pointer;
        outline: none;
    }
    
    #image,#image1,#image2,#image3,#image4{
        top: 8rem;
        left: 8vw;
        width: 9vw;
        height: 9vw;
    }
}