*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: titulo;
    src: url(/fonts/Warpen.ttf);
}
#contenedor{
    width: 100vw;
    height: 59rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(black ,#13142D 90%,white)
}
.name{
    width: 100vw;
    text-align: center;
    color: white;
    font-family: titulo;
    font-size: 10rem;
    padding-bottom: 2rem;
}
.creat{
    width: 100vw;
    height: 2rem;
}
.botonAstronauta{
    width: 5rem;
    animation-duration: 2s;
    animation-name: botonEntrada;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes botonEntrada {
    0%{transform: scale(1);}
    70%{transform: scale(1.3);}
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    #contenedor{
        width: 100vw;
        height: 40rem;
    }
    .name{
        font-size: 3.5rem;
    }
    .botonAstronauta{
        width: 3rem;
    }
}