*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 40vw;
    background-color: #13142D;
}
@font-face {
    font-family: titulo;
    src: url(/fonts/Warpen.ttf);
}
@font-face {
    font-family: normalLetra;
    src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: recorrida;
    src: url(/fonts/Roboto-ThinItalic.ttf);
}
#container{
    width: 100vw;
    height: 45vw;
    background-color: #13142D;
}
#titulo{
    font-family: titulo;
    color: white;
    font-size: 5vw;
    text-align: center;
    width: 100vw;
    height: 6vw;
    position: absolute;
    top: 1vw;
    left: 3vw;
  
}
#info-D{
    margin-left: 1vw;
    padding-top: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    font-family: normalLetra;
    color: #fff;
    position: absolute;
    top: 6vw;
    width: 26vw;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);

}
h1{
    margin-left: 2vw;
    margin-top:0.1vw ;
    font-size: 1.05vw;
  
}
h4{

    margin-top:0.5vw ;
    font-size: 1vw;
}
#span{
    font-size: 1vw;
    font-family: titulo;
    color: #d82e30;
} 
#more{
    cursor: pointer;
    color: #010220;
    position: absolute;
    top: 43vw;
    left: 3vw;
    font-family: titulo;
    width: 8vw;
    height: 4vw;
    background-color: white;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1.5vw;
    text-decoration: none;
}

#porcentajes-A1{
    position: absolute;
    left: 30vw;
    top: 6vw;
    width: 10vw;
    height: 8vw;
   
}
.progressc1{
    width: 10vw;
    height: 8vw;
}
.block{
    position: absolute;
    left:4.5vw;
    width: 0.2vw;
    height: 0.5vw;
    background-color: #4e4e4e;
    transform-origin: 0.5vw 4vw;
   
}
.block.target{
    animation: animate 0.1s linear forwards;
}
@keyframes animate {
    0%{
        background-color: #000;
        box-shadow:none;
    }
    100%{
        background-color: #d82e30;
        box-shadow: 0 0 0.5vw #d82e30, 0 0 6vw #d82e30;
    }
    
}
#h21{
    position: absolute;
    top: 2vw;
    left: 3.5vw;
    color: white;
    text-align: center;
    line-height: 3.5vw; 
    font-size: 1vw;
}
#h22{
    position: absolute;
    top: 2vw;
    left: 3vw;
    color: white;
    text-align: center;
    line-height: 3.5vw; 
    font-size: 1vw;
}
#h222{
    position: absolute;
    top: 8vw;
    left: 67.5vw;
    color: white;
    text-align: center;
    line-height: 3.5vw; 
    font-size: 1vw;
}
#porcentajes-A2{
    position: absolute;
    left: 48vw;
    top: 6vw;
    width: 10vw;
    height: 8vw;
}
.progressc2{
    width: 10vw;
    height: 8vw;
}
.block2{
    position: absolute;
    left:4.5vw;
    width: 0.2vw;
    height: 0.5vw;
    background-color: #4e4e4e;
    transform-origin: 0.5vw 4vw;
   
}
.block2.target2{
    animation: animate2 0.1s linear forwards;
}
@keyframes animate2 {
    0%{
        background-color: #000;
        box-shadow:none;
    }
    100%{
        background-color: #d82e30;
        box-shadow: 0 0 0.5vw #d82e30, 0 0 6vw #d82e30;
    }
    
}
#porcentajes-A3{
    position: absolute;
    left: 6vw;
    top: 6vw;
    width: 10vw;
    height: 8vw;
   
}
.progressc3{
    width: 10vw;
    height: 8vw;
}
.block3{
    position: absolute;
    left:70vw;
    top: 6vw;
    width: 0.2vw;
    height: 0.5vw;
    background-color: #4e4e4e;
    transform-origin: 0.5vw 4vw;

   
}
.block3.target3{
    animation: animate3 0.1s linear forwards;
}
@keyframes animate3 {
    0%{
        background-color: #000;
        box-shadow:none;
    }
    100%{
        background-color: #d82e30;
        box-shadow: 0 0 0.5vw #d82e30, 0 0 6vw #d82e30;
    }
    
}
#imagen{
    position: absolute;
    top: 15vw;
    left: 42vw;
    width: 20vw;
    height: 20vw;
    border-radius: 1vw;
    box-shadow:0vw 1vw 2vw 1vw#313138,
    0vw 0.5vw 0.5vw 0.5vw#ffffff;

}
#Info-I{
    margin-left: -1vw;
    border: 2px solid white;
    border-radius: 1.5vw;
    font-family: normalLetra;
    position: absolute;
    top: 6vw;
    left: 79vw;
    width: 20vw;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);

}
#infocohete{
    font-family: normalLetra;
    color: #fff;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 4vw;
    position: absolute;
    top: 37vw;
    left: 27.6vw;

}
#barra_AB{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44vw;
    width: 100vw;
    height: 6vw;
    overflow: hidden;
   
}
#barraazul{
    width: 60vw;
    border-top: solid transparent 0px ;
    border-left: solid transparent 50px;
    border-right: solid transparent 50px;
    border-bottom: solid #010220 80px;  
    border-radius: 1vw 1vw 0vw 0vw ;
    margin-top: -3vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#linea{
    position: absolute;
    top: 5vw;
    width: 100vw;
    border: 0.5vw solid #010220;
    border-radius: 1vw 1vw 0vw 0vw ;
}
#pasar-Pagina{
    width: 20vw;
    height: 3vw;
    position: absolute;
    top: 1vw;
    left: 80vw;
    display: flex;
    padding: 4px 20px ;
   
}
ul{
    text-decoration: none;
    margin: 0 1vw;
}
ul li{
    display: inline-block;
    background-color: #010220;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    margin: 0 0.5vw;
    cursor: pointer;
    border-radius: 50vw;
    color: white;
   
}
ul li.active{
    color: #fff;
    background-image: linear-gradient(#ffffff,#030b35);
    color: black;
    background-repeat: no-repeat;
}
.btn1 , .btn2{
    display: inline-flex;
    align-items: center;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}
#image{
    position: relative;
    top: 4.5vw;
    width: 2.5vw;
    height: 2.5vw;
}
#image1{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image2{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
}
#image3{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image4{
    position: relative;
    top: 4.2vw;
    width: 3vw;
    height: 3vw;
  
}
#info1{
    color: white;
    font-size: 1.5vw;
    margin: 0 1vw 1vw;
}
progress{

    accent-color: #d82e30;
    margin: 0 1vw 0vw;
    height: 1.5vw;
}
#info2{
    width: 19vw;
    color:#fff;
    font-size: 1vw;
    margin: 1.5vw 1vw 0vw;
    font-family: normalLetra;
}
#enlace{
    color: white;
    text-decoration: none;
    font-family: recorrida;


}
#fotosnaves{
    scroll-behavior: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    z-index: 2;
    width: 20vw;
    height: 20vw;
    border-radius: 1vw;
}
