*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 40vw;
    background-color: #13142D;
}
@font-face {
    font-family: titulo;
    src: url(/fonts/Warpen.ttf);
}
@font-face {
    font-family: normalLetra;
    src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: recorrida;
    src: url(/fonts/Roboto-ThinItalic.ttf);
}
#container{
    width: 100vw;
    height: 45vw;
    background-color: #13142D;
}
#titulo{
    font-family: titulo;
    color: white;
    font-size: 5vw;
    text-align: center;
    width: 100vw;
    height: 6vw;
    position: absolute;
    top: 1vw;
    left: 3vw;
  
}
#info-D{
    margin-left: 2vw;
    padding-top: 1vw;
    border: 2px solid white;
    border-radius: 2vw;
    font-family: normalLetra;
    color: #fff;
    position: absolute;
    top: 6vw;
    width: 23vw;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);

}
h1{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top:0.1vw ;
    font-size: 1.05vw;
  
}
h4{

    margin-top:0.5vw ;
    font-size: 1vw;
}
#span{
    font-size: 1vw;
    font-family: titulo;
    color:  #d82e30;
} 
#span1{
    font-size: 1vw;
    font-family: titulo;
    color: #d82e30;
}
#more{
    color: #010220;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 42vw;
    left:2vw;
    font-family: titulo;
    width: 8vw;
    height: 3vw;
    background-color: white;
    text-decoration: none;
    border-radius: 1vw;
    cursor: pointer;
    font-size: 1.5vw;
}

#porcentajes-A1{
    position: absolute;
    left: 30vw;
    top: 7.5vw;
    width: 10vw;
    height: 8vw;
}
.progressc1{
    width: 10vw;
    height: 8vw;
}
.block{
    position: absolute;
    left:4.5vw;
    width: 0.2vw;
    height: 0.5vw;
    background-color: #4e4e4e;
    transform-origin: 0.5vw 3.8vw;
}
.block.target{
    animation: animate 0.1s linear forwards;
}
@keyframes animate {
    0%{
        background-color: #000;
        box-shadow:none;
    }
    100%{
        background-color: #eee126;
        box-shadow: 0 0 0.5vw #eee126, 0 0 6vw #eee126;
    }
    
}

#h21{
    width: 10vw;
    height: 8vw;
    position: absolute;
    top: 2vw;
    left: -0.1vw;
    color: white;
    text-align: center;
    line-height: 3.5vw; 
    font-size: 1vw;
    z-index: 2;
}
#h22{
    position: absolute;
    top: 2vw;
    left: 3vw;
    color: white;
    text-align: center;
    line-height: 3.5vw; 
    font-size: 1vw;
}
#h222{
    position: absolute;
    top: 9.6vw;
    left: 67.5vw;
    color: white;
    text-align: center;
    line-height: 3.5vw; 
    font-size: 1vw;
}
#porcentajes-A2{
    position: absolute;
    left: 48vw;
    top: 7.5vw;
    width: 10vw;
    height: 8vw;
}
.progressc2{
    width: 10vw;
    height: 8vw;
}
.block2{
    position: absolute;
    left:4.5vw;
    width: 0.2vw;
    height: 0.5vw;
    background-color: #4e4e4e;
    transform-origin: 0.5vw 3.8vw;
}
.block2.target2{
    animation: animate2 0.1s linear forwards;
}
@keyframes animate2 {
    0%{
        background-color: #000;
        box-shadow:none;
    }
    100%{
        background-color: #d82e30;
        box-shadow: 0 0 0.5vw #d82e30, 0 0 6vw #d82e30;
    }
    
}
#porcentajes-A3{
    position: absolute;
    left: 6vw;
    top: 6vw;
    width: 10vw;
    height: 8vw;
}
.progressc3{
    width: 10vw;
    height: 8vw;
}
.block3{
    position: absolute;
    left:70vw;
    top: 7.5vw;
    width: 0.2vw;
    height: 0.5vw;
    background-color: #4e4e4e;
    transform-origin: 0.5vw 3.9vw;
}
.block3.target3{
    animation: animate3 0.1s linear forwards;
}
@keyframes animate3 {
    0%{
        background-color: #000;
        box-shadow:none;
    }
    100%{
        background-color: #2ed845;
        box-shadow: 0 0 0.5vw #2ed845, 0 0 6vw #2ed845;
    }
    
}
#imagen{
    position: absolute;
    top: 16vw;
    left: 42vw;
    width: 20vw;
    height: 18vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);

}
#Info-I{
    margin-left: -0.5vw;
    border: 2px solid white;
    border-radius: 1.5vw;
    font-family: normalLetra;
    position: absolute;
    top: 6vw;
    left: 79vw;
    width: 18vw;
    height: 30vw;
    box-shadow: 0 4px 8px 0 rgb(61, 61, 61), 0 6px 20px 0 rgb(150, 150, 150);

}
#infocohete{
    font-family: normalLetra;
    color: #fff;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 4vw;
    position: absolute;
    top: 37vw;
    left: 27.6vw;

}
#barra_AB{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 44vw;
    width: 100vw;
    height: 6vw;
}
#barraazul{
    width: 60vw;
    border-top: solid transparent 0px ;
    border-left: solid transparent 50px;
    border-right: solid transparent 50px;
    border-bottom: solid #010220 80px;  
    border-radius: 1vw 1vw 0vw 0vw ;
    margin-top: -3vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#linea{
    position: absolute;
    top: 5vw;
    width: 100vw;
    border: 0.5vw solid #010220;
    border-radius: 1vw 1vw 0vw 0vw ;
}
#pasar-Pagina{
    width: 20vw;
    height: 3vw;
    position: absolute;
    top: 1vw;
    left: 80vw;
    display: flex;
    padding: 4px 20px ;
   
}
ul{
    text-decoration: none;
    margin: 0 1vw;
}
ul li{
    display: inline-block;
    background-color: #010220;
    width: 2vw;
    height: 2vw;
    font-size: 1.2vw;
    text-align: center;
    line-height: 2vw;
    margin: 0 0.5vw;
    cursor: pointer;
    border-radius: 50vw;
    color: white;
   
}
ul li.active{
    color: #fff;
    background-image: linear-gradient(#ffffff,#030b35);
    color: black;
    background-repeat: no-repeat;
}
.btn1 , .btn2{
    display: inline-flex;
    align-items: center;
    background: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}
#image{
    position: relative;
    top: 4.5vw;
    width: 2.5vw;
    height: 2.5vw;
}
#image1{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image2{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
}
#image3{
    position: relative;
    top: 4.5vw;
    width: 3vw;
    height: 3vw;
  
}
#image4{
    position: relative;
    top: 4.2vw;
    width: 3vw;
    height: 3vw;
  
}
#info1{
    color: white;
    font-size: 1.5vw;
    margin: 0 1vw 1vw;
}
progress{
    accent-color: #24a1e9;
    margin: 0 1vw 0vw;
    height: 1.5vw;
}
#info2{
    width: 19vw;
    color:#fff;
    font-size: 1vw;
    margin: 1.5vw 1vw 0vw;
    font-family: normalLetra;
}
#enlace{
    color: white;
    text-decoration: none;
    font-family: recorrida;
}
#fotosnaves{
    z-index: 2;
    width: 20vw;
    height: 18vw;
    border-radius: 1vw;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    
    #container{
        width: 100vw;
        height: auto;
    }
    #titulo{
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 22vw;
        padding: 0;
        top: 5vw;
        left: 0vw;
    }
    #info-D{
        margin-left: 47vw;
        padding: 2vw;
        border: 1px;
        top: 120vw;
        width: 50vw;
        height: auto;
        box-shadow: none;
        border: 1px solid white;
    }
    h1{
        margin-left: 2vw;
        font-size: 2.3vw;
    }
    h4{
        margin-top:0.4vw ;
        font-size: 2.5vw;
    }
    #span{
        font-size: 2.4vw;
        font-family: titulo;
        color: #d82e30;
    } 
    #span1{
        font-size: 2.7vw;
        font-family: titulo;
        color: #eee126;
    }
    #more{
        top: 240vw;
        left: 76vw;
        font-family: titulo;
        width: 18vw;
        font-size: 2vw;
        height: 6vw;
        border-radius: 1vw;
        padding-top: 0vw;
    }
    #porcentajes-A1{
        position: absolute;
        left: 15vw;
        top: 90vw;
        width: 20vw;
        height: 15vw;
    }
    .block{
        position: absolute;
        left:4.5vw;
        width: 0.2vw;
        height: 1vw;
        background-color: #ffffff;
        transform-origin: 0.2vw 11vw;
    }
    .block.target{
        animation: animate 0.1s linear forwards;
    }
    #h21{
        width: 5rem;
        top: 9vw;
        left: -5vw;
        font-size: 3vw;
    }
    #h22{
        top: 9vw;
        left: -3vw;
        font-size: 4vw;
    }
    #h222{
        left: 77vw;
        top: 99vw;
        font-size: 3vw;
    }
    #porcentajes-A2{
        position: absolute;
        left: 48vw;
        top: 90vw;
        width: 20vw;
        height: 15vw;
    }
    .progressc2{
        width: 10vw;
        height: 8vw;
    }
    .block2{
        position: absolute;
        left:4.5vw;
        position: absolute;
        left:4.5vw;
        width: 0.2vw;
        height: 1vw;
        background-color: #ffffff;
        transform-origin: 0.2vw 11vw;
    }
    .block2.target2{
        animation: animate2 0.1s linear forwards;
    }
    .progressc3{
        width: 10vw;
        height: 8vw;
    }
    .block3{
        position: absolute;
        left: 86vw;
        top: 90vw;
        position: absolute;
        width: 0.2vw;
        height: 1vw;
        background-color: #ffffff;
        transform-origin: 0.2vw 11vw;
    }
    .block3.target3{
        animation: animate3 0.1s linear forwards;
    }
    #imagen{
        position: absolute;
        top: 35vw;
        left: 20vw;
        width: 60vw;
        height: 45vw;
    }
    #Info-I{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        border: 1px solid white;
        top: 196vw;
        left: 4vw;
        width: 60vw;
        height: 50vw;
        padding: 3vw;
    }
    #infocohete{
        width: 40vw;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0vw;
        height: 67vw;
        position: absolute;
        bottom: 0vw;
        justify-content: center;
        top: 120vw;
        left: 4vw;
        border: 1px solid white;
    }
    #barra_AB{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 260vw;
        width: 100vw;
        height: 6vw;
    }
    #barraazul{
        width: 94vw;
        border-top: solid transparent 0px ;
        border-left: solid transparent 0px;
        border-right: solid transparent 0px;
        border-bottom: solid #010220 0px;  
        border-radius: 0vw 0vw 0vw 0vw ;
        justify-content: space-around;
        margin-top: 0vw;
    }
    #linea{
        display: none;
    }
    #pasar-Pagina{
        width: 10vw;
        height: 50vw;
        position: absolute;
        top: -65vw;
        left: 75vw;
        display: flex;
        padding: 4px 20px ;
    }
    ul{
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin: 0 0vw;
    }
    ul li{
        width: 9vw;
        height: 9vw;
        border: 1px solid white;
        margin-top: 1vw;
        font-size: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn1 , .btn2{
        display: inline-flex;
        align-items: center;
        background: transparent;
        color: white;
        cursor: pointer;
        outline: none;
    }
    #image{
        top: 0vw;
        width: 11vw;
        height: 8vw;
    }
    #image1{
        position: relative;
        top: 0vw;
        width: 11vw;
        height: 9vw;
    }
    #image2{
        position: relative;
        top: 0vw;
        width: 11vw;
        height: 9vw;
    }
    #image3{
        position: relative;
        top: 0vw;
        width: 11vw;
        height: 9vw;
    }
    #image4{
        position: relative;
        top: 0vw;
        width: 11vw;
        height: 9vw;
    }
    #info1{
        color: white;
        font-size: 1.5vw;
        margin: 0 1vw 1vw;
    }
    progress{
        width: 35vw;
        margin: 0 0vw 0vw;
        height: 3.5vw;
    }
    #info2{
        display: flex;
        justify-content: center;
        width: 60vw;
        font-size: 2.7vw;
        margin: 0vw 0vw 0vw;
    }
    #enlace{
        color: white;
        text-decoration: none;
        font-family: recorrida;
    }
    #fotosnaves{
        width: 60vw;
        height: 45vw;
    }
}
