*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: titulo;
    src: url(/fonts/Warpen.ttf);
}
@font-face {
    font-family: normalLetra;
    src: url(/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: recorrida;
    src: url(/fonts/Roboto-ThinItalic.ttf);
}
body{
    width: 100vw;
    height: 50vw;
    background-color:#13142D;
}
#container{
    width: 100vw;
    height: 50vw;
    background-color:#13142D;

}
#titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #d82e30;
    font-size: 5vw;
    padding: 2vw;
    font-family: titulo;

}
#text{
    padding: 2vw;
    margin-left: 4vw;
    width: 50vw;
    height: 30vw;
    color: white;
    font-size: 2vw;
    font-family: normalLetra;
}
#redes{
    width: 40vw;
    height: 5vw;
    margin-top: 2vw;
    margin-left: 6vw;
    display: flex;
    justify-content: space-between;
}
#imgnave{
    width: 32vw;
    height: 30vw;
    position: absolute;
    top: 8.8vw;
    left: 60vw;
}
#imgnave img{
    position: absolute;
    top: -6vw;
}
#instagram{
    border-radius: 1.1vw;
    background-color: white;
    width: 5vw;
    height:5vw ;
}
#x{
    border-radius: 1.1vw;
    width: 5vw;
    height:5vw ;
}
#facebook{
    border-radius: 1vw;
    width: 5vw;
    height:5vw ;
}
#youtube{
    border-radius: 1.1vw;
    width: 6vw;
    height:5vw;
}
#volver {
    position: absolute;
    top: 2vw;
    left: 2vw;
    width: 3vw;
    height: 2vw;
}
#img{
    width: 3vw;
    height: 2vw;
    transform: rotate(180deg);
}